<header class="header-block">
  <nav class="nav-block">
    <span class="item" routerLinkActive="active" [routerLink]="['/system//tasks']">Home</span>
    <span class="item" routerLinkActive="active" [routerLink]="['/system/task']">Create task</span>
  </nav>
  <div class="log_out-block" appDropdpwn>
    <div class="drop-hide drop-open">
      <b>dropdown work</b>
    </div>
  <span class="name">
   {{user.name}}
  </span>
    <button type="button" class="btn btn-primary" (click)="logOut()">Log out</button>
  </div>
</header>
<router-outlet></router-outlet>
